**/*.tar
**/*.gz
**/*.zip
**/*.tar.gz
**/*.pt

datasets/
results/
.download_cache/
scripts/download_flag


.venv/
venv/
.ruff_cache/
.uv_cache/
.cache/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/


.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
node_modules/
