**/*.tar
**/*.gz
**/*.zip
**/*.tar.gz

datasets/
results/
api/
config-bak/
quarantine/
.download_cache/
scripts/download_flag
nohup.out
checkup.md


.venv/
venv/
.ruff_cache/
.uv_cache/
.cache/
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/




.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
node_modules/
